.main_layout {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sub_layout {
  min-height: 100vh;
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
