.main_layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
@media screen and (min-width: 600px) {
  .main_layout {
    padding: 20px;
  }
}
@media screen and (min-width: 900px) {
  .main_layout {
    padding: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .main_layout {
    padding: 40px;
  }
}

.title_card {
  margin-top: 20px;
}

.title {
  font-family: var(--ff_Nunito);
  font-weight: 700;
  font-size: 55px;
}

.paragraph {
  color: var(--light_black);
  font-family: var(--ff_Nunito);
  font-size: 15px;
  font-weight: 400;
}

.form_card {
  margin-top: 40px;
}

.form_button_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  gap: 20px;
}

.login_button {
  height: 45px;
  width: 100%;
  border-style: none;
  border-radius: 6px;
  background-color: var(--primary_accent);
  color: var(--constant_white);
  font-family: var(--ff_Nunito);
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
}

.forgot_button {
  height: 45px;
  width: 100%;
  border-style: none;
  border-radius: 6px;
  background-color: var(--primary_card_bg);
  color: var(--black);
  font-family: var(--ff_Nunito);
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
}

.signup_text_card {
  height: fit-content;
  width: 100%;
  position: relative;
  top: 90px;
}

.signup_text {
  color: var(--black);
  font-family: var(--ff_Nunito);
  font-size: 15px;
  font-weight: 500;
  text-align: center;
}

.signup_text > span {
  color: var(--primary_accent);
  cursor: pointer;
}

.eye_icon {
  cursor: pointer;
}
