.main_layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

@media screen and (min-width: 600px) {
  .main_layout {
    padding: 20px;
  }
}
@media screen and (min-width: 900px) {
  .main_layout {
    padding: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .main_layout {
    padding: 40px;
  }
}

.profile_card {
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 10px;
}
@media screen and (min-width: 900px) {
  .profile_card {
    gap: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .profile_card {
    gap: 20px;
  }
}

.profile_image_card {
  /* padding: 10px; */
}

.profile_image_style {
  height: 80px;
  width: 80px;
  border-radius: 10px;
}
@media screen and (min-width: 600px) {
  .profile_image_style {
    height: 100px;
    width: 100px;
  }
}
@media screen and (min-width: 900px) {
  .profile_image_style {
    height: 120px;
    width: 120px;
  }
}
@media screen and (min-width: 1200px) {
  .profile_image_style {
    height: 140px;
    width: 140px;
  }
}

.profile_details_card {
  display: flex;
  flex-direction: column;
}
.restaurant_name {
  color: var(--black);
  font-family: var(--ff_Nunito);
  font-size: 18px;
  font-weight: 750;
  margin: 0;
}
@media screen and (min-width: 600px) {
  .restaurant_name {
    font-size: 22px;
  }
}
@media screen and (min-width: 900px) {
  .restaurant_name {
    font-size: 25px;
  }
}
@media screen and (min-width: 1200px) {
  .restaurant_name {
    font-size: 30px;
  }
}

.menu_title {
  color: var(--black);
  font-family: var(--ff_Nunito);
  font-size: 18px;
  font-weight: 750;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 7px;
}
@media screen and (min-width: 600px) {
  .menu_title {
    font-size: 20px;
  }
}
@media screen and (min-width: 900px) {
  .menu_title {
    font-size: 22px;
  }
}
@media screen and (min-width: 1200px) {
  .menu_title {
    font-size: 24px;
  }
}

.menu_card {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
