:root {
  --primary_bg: #ffffff;

  --primary_accent: #404aff;
  --secondary_accent: #5e66ff;

  --primary_accent_border: #404aff;

  --primary_card_bg: #5e66ff21;
  --secondary_card_bg: #ebeaea;

  --primary_border: #cbcbcb;
  --secondary_border: #dddddd;

  --success: #52b963;
  --danger: #ff0e0e;
  --white: #ffffff;
  --black: #000000;

  --light_white: #838383;
  --light_black: #424242;

  --ff_Nunito: "Nunito";

  --constant_white: #ffffff;
  --constant_black: #000000;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}
