.main_layout {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.title1 {
  font-family: var(--ff_Nunito);
  margin: 0px;
  font-size: 20px;
  font-weight: 750;
}

.title2 {
  font-family: var(--ff_Nunito);
  margin: 0px;
  font-size: 20px;
  color: var(--primary_accent);
  font-weight: 750;
  margin-top: -5px;
}

@media screen and (min-width: 600px) {
  .title1 {
    font-size: 25px;
  }
  .title2 {
    font-size: 25px;
  }
}

@media screen and (min-width: 900px) {
  .title1 {
    font-size: 28px;
  }
  .title2 {
    font-size: 28px;
  }
}

@media screen and (min-width: 1200px) {
  .title1 {
    font-size: 30px;
  }
  .title2 {
    font-size: 30px;
  }
}
